.movie-card {
    margin: 16px;
    padding: 10px;
    height: 300px;
    width: 200px;
    position: relative;
    transition: transform 0.2s;

    .movie-poster {
        background-size: cover;
        border-radius: 8px;
        max-height: 100%;
        min-width: 100%;
    }

    #title,
    #comment {
        font: small-caption;
        text-align: center;
    }
}

.movie-card:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.movie-card:hover .overlay {
    opacity: 1;
}

.overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    transition: 0.5s ease;
    opacity: 0;
    bottom: 0;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    margin: 20px;
    border-radius: 8px;
}
